# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ander\OneDrive - Østfold University College\A school folder\c Third year\Second Semester\Framework\Group Project HTML\HTML-Framework-Group-15\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
